*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.firstbutton i{
 margin-left: 10px;
}
.secondbutton{
  color: white;
  margin-left: 10px;
}

.secondbutton:hover{
  background-color: white;
  color: black;
}
.secondbutton:hover i{
  background-color: white;
  color: black;
}
